tp2-indice/wikiSample
tp2-indice/miniWikiSample
tp2-indice/*json
tp2-indice/vocabulary*.txt
tp2-indice/occur_index_13
buscador/package-lock.json
tp-processamento-consulta/indexador_hash_index.json
tp-processamento-consulta/occurr_index_14
